## Extraccion con el API Alpha Vantage

### Cargando Dependencias

In [743]:
import requests
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json
import datetime
from datetime import date
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType


# spark = SparkSession.builder \
#     .appName("Instrumentos Session") \
#     .config("spark.ui.port", "4050") \
#     .getOrCreate()

### Funciones de Extraccion

In [1]:
from extraccion.extraccion_api import *

In [5]:
simbolos_df = obtener_simbolos()

#### logica de extraccion

In [793]:
API_KEY = 'YDMGB3KH33ZX10HA'
error_logs = []

def get_errors():
    return error_logs

def remove_error_logs():
    error_logs = []

def add_error_logs(error):
    error_logs.append(error)

def get_alpha_vantage_data(function, symbol):
  url = f'https://www.alphavantage.co/query?function={function}&symbol={symbol}&apikey={API_KEY}'
  try:
    response = requests.get(url)
    response.raise_for_status()
    data = response.json()

    if "Error Message" in data:
      add_error_logs(f"Error para el s√≠mbolo {symbol}: {data['Error Message']}")
      return None

    return data

  except requests.exceptions.RequestException as e:
    add_error_logs(f"Error al realizar la solicitud a Alpha Vantage para {symbol}: {e}")
    return None
  except ValueError as e:
    add_error_logs(f"Error al procesar la respuesta JSON {symbol}")
    return None

def get_overview_data_for_multiple_symbols(symbols):
  overview_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('INCOME_STATEMENT', symbol)
    if data:
      overview_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return overview_data

def get_income_statement_data_for_multiple_symbols(symbols):
  overview_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('OVERVIEW', symbol)
    if data:
      overview_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return overview_data


def get_balance_sheet_data_for_multiple_symbols(symbols):
  balance_sheet_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('BALANCE_SHEET', symbol)
    if data:
      balance_sheet_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return balance_sheet_data

def get_cash_flow_data_for_multiple_symbols(symbols):
  cash_flow_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('CASH_FLOW', symbol)
    if data:
      cash_flow_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return cash_flow_data

def get_cpi_data_for_multiple_symbols(symbols):
  cpi_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('CPI', symbol)
    if data:
      cpi_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return cpi_data


def get_inflation_data_for_multiple_symbols(symbols):
  inflation_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('INFLATION', symbol)
    if data:
      inflation_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return inflation_data

def get_retail_sales_data_for_multiple_symbols(symbols):
  retail_sales_data = []

  for symbol in symbols:
    data = get_alpha_vantage_data('RETAIL_SALES', symbol)
    if data:
      retail_sales_data.append({symbol: data})
    else:
      add_error_logs(f"No se pudieron obtener datos para {symbol}" )
  return retail_sales_data

NameError: name 'obtener_simbolos' is not defined

### Extraccion de Data

In [21]:
symbols = simbolos_df['codigo'].head(3)

In [23]:

overview_data = get_overview_data_for_multiple_symbols(symbols)
income_statement_data = get_overview_data_for_multiple_symbols(symbols)
balance_sheet_data = get_balance_sheet_data_for_multiple_symbols(symbols)
retail_sales_data = get_retail_sales_data_for_multiple_symbols(symbols)
cash_flow_data = get_cash_flow_data_for_multiple_symbols(symbols)
cpi_data = get_cpi_data_for_multiple_symbols(symbols)
inflation_data = get_inflation_data_for_multiple_symbols(symbols)

### Preparacion de Data

In [88]:
overview_df = pd.DataFrame(overview_data)
income_statement_df = pd.DataFrame(income_statement_data)
balance_sheet_df  = pd.DataFrame(balance_sheet_data)
retail_sales_df = pd.DataFrame(retail_sales_data)
cash_flow_df = pd.DataFrame(cash_flow_data)
cpi_df = pd.DataFrame(cpi_data)
inflation_df = pd.DataFrame(inflation_data)

### Validando Errores

In [90]:
error_logs

[]

### Preparando Overview

In [283]:
overviews_df = pd.DataFrame()

for symbol in symbols:
  for overview in overview_df[symbol]:
    if(pd.notna(overview)):
      if isinstance(overview, dict) or isinstance(overview, list):
        if('annualReports' in overview):
          overviewsdf = pd.DataFrame(overview['annualReports'])
          overviewsdf['Symbol'] = overview['symbol']
          overviewsdf['loadDate'] = date.today()
          overviews_df = pd.concat([overviews_df,overviewsdf], ignore_index=True)

overviews_df[overviews_df['Symbol']== 'JPM'].head()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,Symbol,loadDate
0,2023-12-31,USD,61612000000,158104000000,96492000000,-9282000000,29815000000,18427000000,None,31797000000,...,61612000000,12060000000,81321000000,49552000000,56450000000,142933000000,143248000000,49552000000,JPM,2025-03-10
1,2022-12-31,USD,46166000000,128695000000,82529000000,10174000000,17761000000,17965000000,None,28405000000,...,46166000000,8490000000,26097000000,37676000000,20419000000,72263000000,72408000000,37676000000,JPM,2025-03-10
2,2021-12-31,USD,59562000000,121649000000,62087000000,9814000000,31829000000,17493000000,None,27733000000,...,59562000000,11228000000,5553000000,48334000000,40264000000,65115000000,72956000000,48334000000,JPM,2025-03-10
3,2020-12-31,USD,35407000000,119951000000,84136000000,8464000000,8580000000,17263000000,None,26827000000,...,35815000000,6684000000,9960000000,29131000000,35548000000,45775000000,50370000000,29131000000,JPM,2025-03-10
4,2019-12-31,USD,44545000000,115720000000,71082000000,8533000000,18051000000,17722000000,None,26494000000,...,44866000000,8435000000,26795000000,36431000000,39507000000,71661000000,-2028000000,36431000000,JPM,2025-03-10

In [94]:
# overviews_df.columns
print("create table staging.stg_overview( \nid serial primary key")
for column in overviews_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_overview(
id serial primary key
,fiscalDateEnding varchar(250)
,reportedCurrency varchar(250)
,grossProfit varchar(250)
,totalRevenue varchar(250)
,costOfRevenue varchar(250)
,costofGoodsAndServicesSold varchar(250)
,operatingIncome varchar(250)
,sellingGeneralAndAdministrative varchar(250)
,researchAndDevelopment varchar(250)
,operatingExpenses varchar(250)
,investmentIncomeNet varchar(250)
,netInterestIncome varchar(250)
,interestIncome varchar(250)
,interestExpense varchar(250)
,nonInterestIncome varchar(250)
,otherNonOperatingIncome varchar(250)
,depreciation varchar(250)
,depreciationAndAmortization varchar(250)
,incomeBeforeTax varchar(250)
,incomeTaxExpense varchar(250)
,interestAndDebtExpense varchar(250)
,netIncomeFromContinuingOperations varchar(250)
,comprehensiveIncomeNetOfTax varchar(250)
,ebit varchar(250)
,ebitda varchar(250)
,netIncome varchar(250)
,Symbol varchar(250)
,loadDate varchar(250)
);

In [96]:
overviews_df['reportedCurrency'].unique()

array(['USD', 'GBP'], dtype=object)

### Preparando Income Statement

In [99]:
incomestatement_annualReports_df = pd.DataFrame()
for symbol in symbols:
  for incomestatement in income_statement_df[symbol]:
    if(pd.notna(incomestatement)):
      if('annualReports' in incomestatement):
        incomestatement_df = pd.DataFrame(incomestatement['annualReports'])
        incomestatement_df['Symbol'] = incomestatement['symbol']
        incomestatement_df['loadDate'] = date.today()
        incomestatement_annualReports_df = pd.concat([incomestatement_annualReports_df,incomestatement_df], ignore_index=True)


incomestatement_annualReports_df[incomestatement_annualReports_df['Symbol']== 'BCS'].head()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,Symbol,loadDate
15,2024-12-31,USD,26230000000,26230000000,None,None,None,2121000000,None,26230000000,...,8108000000,1752000000,None,6356000000,None,None,None,6307000000,BCS,2025-03-10
16,2023-12-31,GBP,51336000000,23497000000,-27839000000,-27839000000,7418000000,2017000000,None,16079000000,...,6557000000,1234000000,None,5323000000,None,-1058000000,726000000,5259000000,BCS,2025-03-10
17,2022-12-31,GBP,24956000000,24956000000,None,None,15491000000,1770000000,None,15140000000,...,7012000000,1039000000,None,5973000000,None,15554000000,17277000000,5928000000,BCS,2025-03-10
18,2021-12-31,GBP,21940000000,21940000000,None,None,8367000000,1568000000,None,13966000000,...,8414000000,1188000000,None,7226000000,None,8770000000,10443000000,7009000000,BCS,2025-03-10
19,2020-12-31,GBP,21766000000,21766000000,None,None,2987000000,5636000000,None,13631000000,...,3065000000,604000000,None,2461000000,None,3182000000,4721000000,2383000000,BCS,2025-03-10

In [101]:
print("create table staging.stg_income_statement( \nid serial primary key")
for column in incomestatement_annualReports_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_income_statement(
id serial primary key
,fiscalDateEnding varchar(250)
,reportedCurrency varchar(250)
,grossProfit varchar(250)
,totalRevenue varchar(250)
,costOfRevenue varchar(250)
,costofGoodsAndServicesSold varchar(250)
,operatingIncome varchar(250)
,sellingGeneralAndAdministrative varchar(250)
,researchAndDevelopment varchar(250)
,operatingExpenses varchar(250)
,investmentIncomeNet varchar(250)
,netInterestIncome varchar(250)
,interestIncome varchar(250)
,interestExpense varchar(250)
,nonInterestIncome varchar(250)
,otherNonOperatingIncome varchar(250)
,depreciation varchar(250)
,depreciationAndAmortization varchar(250)
,incomeBeforeTax varchar(250)
,incomeTaxExpense varchar(250)
,interestAndDebtExpense varchar(250)
,netIncomeFromContinuingOperations varchar(250)
,comprehensiveIncomeNetOfTax varchar(250)
,ebit varchar(250)
,ebitda varchar(250)
,netIncome varchar(250)
,Symbol varchar(250)
,loadDate varchar(250)
);

In [103]:
incomestatement_annualReports_df['reportedCurrency'].unique()

array(['USD', 'GBP'], dtype=object)

### Preparacion de Balance

In [106]:
balance_annualReports_df = pd.DataFrame()

for symbol in symbols:
  for balance in balance_sheet_df[symbol]:
    if(pd.notna(balance)):
      if('annualReports' in balance):
        annualReports_df = pd.DataFrame(balance['annualReports'])
        annualReports_df['Symbol'] = balance['symbol']
        annualReports_df['loadDate'] = date.today()
        balance_annualReports_df = pd.concat([balance_annualReports_df,annualReports_df], ignore_index=True)

balance_annualReports_df[balance_annualReports_df['Symbol']== 'BCS'].head()

,fiscalDateEnding,reportedCurrency,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,...,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding,Symbol,loadDate
16,2024-12-31,GBP,1518202000000,210184000000,210184000000,210184000000,None,None,1308018000000,None,...,None,-566000000,None,71821000000,None,56028000000,3605000000,14645000000,BCS,2025-03-10
17,2023-12-31,GBP,1477487000000,510843000000,224634000000,224634000000,None,None,966644000000,None,...,176651000000,59198000000,None,57945000000,None,53734000000,4288000000,15895000,BCS,2025-03-10
18,2022-12-31,GBP,1513699000000,256351000000,256351000000,256351000000,None,None,555552000000,3616000000,...,136510000000,366695000000,None,68292000000,None,52827000000,3968000000,16867000000,BCS,2025-03-10
19,2021-12-31,GBP,1384285000000,238574000000,238574000000,238574000000,None,None,675947000000,3548000000,...,141295000000,319591000000,None,69222000000,None,50657000000,4188000000,17420000000,BCS,2025-03-10
20,2020-12-31,GBP,1349514000000,191127000000,191127000000,191127000000,None,None,697000000000,4026000000,...,107553000000,354975000000,None,65797000000,None,45527000000,4340000000,17668000000,BCS,2025-03-10

In [108]:
print("create table staging.stg_balance( \nid serial primary key")
for column in balance_annualReports_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_balance(
id serial primary key
,fiscalDateEnding varchar(250)
,reportedCurrency varchar(250)
,totalAssets varchar(250)
,totalCurrentAssets varchar(250)
,cashAndCashEquivalentsAtCarryingValue varchar(250)
,cashAndShortTermInvestments varchar(250)
,inventory varchar(250)
,currentNetReceivables varchar(250)
,totalNonCurrentAssets varchar(250)
,propertyPlantEquipment varchar(250)
,accumulatedDepreciationAmortizationPPE varchar(250)
,intangibleAssets varchar(250)
,intangibleAssetsExcludingGoodwill varchar(250)
,goodwill varchar(250)
,investments varchar(250)
,longTermInvestments varchar(250)
,shortTermInvestments varchar(250)
,otherCurrentAssets varchar(250)
,otherNonCurrentAssets varchar(250)
,totalLiabilities varchar(250)
,totalCurrentLiabilities varchar(250)
,currentAccountsPayable varchar(250)
,deferredRevenue varchar(250)
,currentDebt varchar(250)
,shortTermDebt varchar(250)
,totalNonCurrentLiabilities varchar(250)
,capitalLeaseObligations varchar(250)
,longTermDebt varchar(250)
,currentLongTermDebt varchar(250)
,longTermDebtNoncurrent varchar(250)
,shortLongTermDebtTotal varchar(250)
,otherCurrentLiabilities varchar(250)
,otherNonCurrentLiabilities varchar(250)
,totalShareholderEquity varchar(250)
,treasuryStock varchar(250)
,retainedEarnings varchar(250)
,commonStock varchar(250)
,commonStockSharesOutstanding varchar(250)
,Symbol varchar(250)
,loadDate varchar(250)
);

In [110]:
balance_annualReports_df['reportedCurrency'].unique()

array(['USD', 'GBP'], dtype=object)

### Preparando Retail

In [113]:
retaildata_df = pd.DataFrame()

for symbol in symbols:
  for retail in retail_sales_df[symbol]:
    if(pd.notna(retail)):
      if('data' in retail):
        retail_df = pd.DataFrame(retail['data'])
        retail_df['name'] = retail['name']
        retail_df['interval'] = retail['interval']
        retail_df['unit'] = retail['unit']
        retail_df['Symbol'] = symbol
        retail_df['loadDate'] = date.today()
        retaildata_df = pd.concat([retaildata_df,retail_df], ignore_index=True)

retaildata_df[retaildata_df['Symbol']== 'JPM'].head()

,date,value,name,interval,unit,Symbol,loadDate
0,2025-01-01,577230.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
1,2024-12-01,702255.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
2,2024-11-01,641949.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
3,2024-10-01,633013.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
4,2024-09-01,589777.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10

In [115]:
print("create table staging.stg_retail( \nid serial primary key")
for column in retaildata_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_retail(
id serial primary key
,date varchar(250)
,value varchar(250)
,name varchar(250)
,interval varchar(250)
,unit varchar(250)
,Symbol varchar(250)
,loadDate varchar(250)
);

In [117]:
retaildata_df['unit'].unique()

array(['millions of dollars'], dtype=object)

### Preparando CashFlow

In [120]:
cashflow_annualreport_df = pd.DataFrame()

for symbol in symbols:
  for cashflow in cash_flow_df[symbol]:
    if(pd.notna(cashflow)):
      if('annualReports' in cashflow):
        cashflow_df = pd.DataFrame(cashflow['annualReports'])
        cashflow_df['Symbol'] = symbol
        cashflow_df['loadDate'] = date.today()
        cashflow_annualreport_df = pd.concat([cashflow_annualreport_df,cashflow_df], ignore_index=True)

cashflow_annualreport_df[cashflow_annualreport_df['Symbol']== 'JPM'].head()

,fiscalDateEnding,reportedCurrency,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,...,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,netIncome,Symbol,loadDate
0,2023-12-31,USD,12974000000,78776000000,None,5315000000,171268000000,315000000,1291000000,None,...,None,75417000000,0,-9824000000,None,None,None,49552000000,JPM,2025-03-10
1,2022-12-31,USD,107119000000,24756000000,None,11170000000,163295000000,145000000,None,-22970000000,...,None,78442000000,0,-3162000000,None,-156957000000,None,37676000000,JPM,2025-03-10
2,2021-12-31,USD,78084000000,6798000000,None,-23190000000,319534000000,7932000000,None,-12401000000,...,None,82409000000,7350000000,-11058000000,None,224733000000,None,48334000000,JPM,2025-03-10
3,2020-12-31,USD,-79910000000,14703000000,None,77198000000,378421000000,8614000000,None,-18012000000,...,None,78686000000,4500000000,-2017000000,None,254823000000,None,29131000000,JPM,2025-03-10
4,2019-12-31,USD,4092000000,31490000000,None,-14516000000,117212000000,8368000000,None,-78000000,...,None,61085000000,5000000000,-19001000000,None,-14980000000,None,36431000000,JPM,2025-03-10

In [122]:
print("create table staging.stg_cash_flow( \nid serial primary key")
for column in cashflow_annualreport_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_cash_flow(
id serial primary key
,fiscalDateEnding varchar(250)
,reportedCurrency varchar(250)
,operatingCashflow varchar(250)
,paymentsForOperatingActivities varchar(250)
,proceedsFromOperatingActivities varchar(250)
,changeInOperatingLiabilities varchar(250)
,changeInOperatingAssets varchar(250)
,depreciationDepletionAndAmortization varchar(250)
,capitalExpenditures varchar(250)
,changeInReceivables varchar(250)
,changeInInventory varchar(250)
,profitLoss varchar(250)
,cashflowFromInvestment varchar(250)
,cashflowFromFinancing varchar(250)
,proceedsFromRepaymentsOfShortTermDebt varchar(250)
,paymentsForRepurchaseOfCommonStock varchar(250)
,paymentsForRepurchaseOfEquity varchar(250)
,paymentsForRepurchaseOfPreferredStock varchar(250)
,dividendPayout varchar(250)
,dividendPayoutCommonStock varchar(250)
,dividendPayoutPreferredStock varchar(250)
,proceedsFromIssuanceOfCommonStock varchar(250)
,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet varchar(250)
,proceedsFromIssuanceOfPreferredStock varchar(250)
,proceedsFromRepurchaseOfEquity varchar(250)
,proceedsFromSaleOfTreasuryStock varchar(250)
,changeInCashAndCashEquivalents varchar(250)
,changeInExchangeRate varchar(250)
,netIncome varchar(250)
,Symbol varchar(250)
,loadDate varchar(250)
);

### Preparando CPI

In [125]:
cpidata_df = pd.DataFrame()

for symbol in symbols:
  for cpi in cpi_df[symbol]:
    if(pd.notna(cpi)):
      if('data' in cpi):
        cpidf = pd.DataFrame(cpi['data'])
        cpidf['Symbol'] = symbol
        cpidf['name'] = cpi['name']
        cpidf['interval'] = cpi['interval']
        cpidf['unit'] = cpi['unit']
        cpidf['loadDate'] = date.today()
        cpidata_df = pd.concat([cpidata_df,cpidf], ignore_index=True)

cpidata_df[cpidata_df['Symbol']== 'JPM'].head()

,date,value,Symbol,name,interval,unit,loadDate
0,2025-01-01,317.671,JPM,Consumer Price Index for all Urban Consumers,monthly,index 1982-1984=100,2025-03-10
1,2024-12-01,315.605,JPM,Consumer Price Index for all Urban Consumers,monthly,index 1982-1984=100,2025-03-10
2,2024-11-01,315.493,JPM,Consumer Price Index for all Urban Consumers,monthly,index 1982-1984=100,2025-03-10
3,2024-10-01,315.664,JPM,Consumer Price Index for all Urban Consumers,monthly,index 1982-1984=100,2025-03-10
4,2024-09-01,315.301,JPM,Consumer Price Index for all Urban Consumers,monthly,index 1982-1984=100,2025-03-10

In [127]:
print("create table staging.stg_cpi( \nid serial primary key")
for column in cpidata_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_cpi(
id serial primary key
,date varchar(250)
,value varchar(250)
,Symbol varchar(250)
,name varchar(250)
,interval varchar(250)
,unit varchar(250)
,loadDate varchar(250)
);

### Preparando Inflation

In [130]:
inflationdata_df = pd.DataFrame()

for symbol in symbols:
  for inflation in inflation_df[symbol]:
    if(pd.notna(inflation)):
      if('data' in inflation):
        inflatio_df = pd.DataFrame(inflation['data'])
        inflatio_df['Symbol'] = symbol
        inflatio_df['name'] = inflation['name']
        inflatio_df['interval'] = inflation['interval']
        inflatio_df['unit'] = inflation['unit']
        inflatio_df['loadDate'] = date.today()
        inflationdata_df = pd.concat([inflationdata_df,inflatio_df], ignore_index=True)

inflationdata_df[inflationdata_df['Symbol']== 'JPM'].head()

,date,value,Symbol,name,interval,unit,loadDate
0,2023-01-01,4.11633838374488,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
1,2022-01-01,8.00279982052121,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
2,2021-01-01,4.69785886363742,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
3,2020-01-01,1.23358439630629,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
4,2019-01-01,1.81221007526021,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10

In [29]:
pip install -r requirements.txt

Requirement already satisfied: requests in c:\users\micha\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: pandas in c:\users\micha\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 2)) (2.1.4)
Requirement already satisfied: python-dotenv in c:\users\micha\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.21.0)
Collecting datetime (from -r requirements.txt (line 4))
  Downloading DateTime-5.5-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\micha\appdata\roaming\python\python312\site-packages (from requests->-r requirements.txt (line 1)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\micha\appdata\roaming\python\python312\site-packages (from requests->-r requirements.txt (line 1)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\micha\appdata\roaming\python\python312\site-packages (from requests->-r requirements.txt (line 1)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\micha\appdata\roaming\python\python312\site-packages (from requests->-r requirements.txt (line 1)) (2025.1.31)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\micha\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\micha\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\micha\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\micha\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: zope.interface in c:\users\micha\anaconda3\lib\site-packages (from datetime->-r requirements.txt (line 4)) (5.4.0)
Requirement already satisfied: six>=1.5 in c:\users\micha\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: setuptools in c:\users\micha\anaconda3\lib\site-packages (from zope.interface->datetime->-r requirements.txt (line 4)) (75.1.0)
Downloading DateTime-5.5-py3-none-any.whl (52 kB)
Installing collected packages: datetime
Successfully installed datetime-5.5
Note: you may need to restart the kernel to use updated packages.

In [34]:
from extraccion.extraccion_data import *

ModuleNotFoundError: No module named 'extraccion_api'

## Preparando Base de Datos

In [267]:
def get_conexion_string():
    return 'postgresql+psycopg2://admin:admin@localhost:5432/INSTRUMENTOS_DWH'

In [265]:
symbols_df

# Conexi√≥n a PostgreSQL
engine = create_engine(get_conexion_string())

# Cargar el DataFrame en la tabla de PostgreSQL
symbols_df.to_sql('simbolos', engine, index=False, if_exists='replace', schema='diccionario')  # Cambiar 'replace' por 'append' si deseas agregar a una tabla existente

print("Data cargada exitosamente.")

Data cargada exitosamente.

In [165]:
print("create table staging.stg_inflation( \nid serial primary key")
for column in inflationdata_df.columns:
 print(f',{column} varchar(250)')
print(");")

create table staging.stg_inflation(
id serial primary key
,date varchar(250)
,value varchar(250)
,Symbol varchar(250)
,name varchar(250)
,interval varchar(250)
,unit varchar(250)
,loadDate varchar(250)
);

In [247]:

def get_conexion():
    conexion = psycopg2.connect(
        host="localhost",
        dbname="INSTRUMENTOS_DWH",
        user="admin",
        password="admin"
    )
    return conexion

def truncar_tablas():
    try:
        conexion = get_conexion()
        cursor = conexion.cursor()
        
        truncate_script = ""
        for df, schema, tabla in staging_dataframes:
            truncate_script += f'truncate table {schema}.{tabla} restart identity cascade;'

        cursor.execute(truncate_script)
        conexion.commit()
    except psycopg2.Error as e:
        add_error_logs(f"Error en la operaci√≥n de truncado: {e}")
        if conexion:
            conexion.rollback()
    finally:
        if cursor:
            cursor.close()
        if conexion:
            conexion.close()

def cargar_logs(cursor, conexion, schema, tabla):
    log_query = """
        INSERT INTO metadata.process_log (descripcion, etapa, fecha, entidad, estatus)
            VALUES (%s, %s, %s, %s, %s)
    """
    log_values = (f'carga de tabla {tabla}', schema, datetime.datetime.now(), tabla, 'exitoso')
    cursor.execute(log_query, log_values)

    conexion.commit() 

def cargar_log_error(cursor, conexion, schema, tabla, error):
    log_query = """
        INSERT INTO metadata.error_log (descripcion, etapa, fecha, entidad)
            VALUES (%s, %s, %s, %s)
    """
    log_values = (error, schema, datetime.datetime.now(), tabla)
    cursor.execute(log_query, log_values)

    conexion.commit() 

def cargar_staging():
    columnas = ['descripcion', 'etapa', 'fecha', 'entidad', 'estatus']
    log_results_df = pd.DataFrame(columns=columnas)
    
    try:
        conexion = get_conexion()
        cursor = conexion.cursor()

        for df, schema, tabla in staging_dataframes:
            for i, row in df.iterrows():
                columns = ', '.join(df.columns)
                values = ', '.join([f"'{str(value)}'" if value is not None else "NULL" for value in row])
                query = f"INSERT INTO {schema}.{tabla} ({columns}) VALUES ({values})"
                cursor.execute(query)
            conexion.commit()
            cargar_logs(cursor, conexion, schema, tabla)                               

        cursor.close()
        conexion.close()
        
    except Exception as e:
        add_error_logs(f"Error al cargar los DataFrames: {e}")        
        if conexion:
            conexion.rollback()
        if cursor:
            cursor.close()
        if conexion:
            conexion.close()

In [167]:
staging_dataframes = [
    (inflationdata_df, 'staging','stg_inflation'),
    (cpidata_df,'staging', 'stg_cpi'),
    (cashflow_annualreport_df,'staging', 'stg_cash_flow'),
    (overviews_df,'staging', 'stg_overview'),
    (incomestatement_annualReports_df,'staging', 'stg_income_statement'),
    (balance_annualReports_df,'staging', 'stg_balance'),
    (retaildata_df,'staging', 'stg_retail')    
]

In [376]:
inflationdata_df

,date,value,Symbol,name,interval,unit,loadDate
0,2023-01-01,4.11633838374488,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
1,2022-01-01,8.00279982052121,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
2,2021-01-01,4.69785886363742,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
3,2020-01-01,1.23358439630629,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
4,2019-01-01,1.81221007526021,JPM,Inflation - US Consumer Prices,annual,percent,2025-03-10
...,...,...,...,...,...,...,...
123,1964-01-01,1.27891156462591,BCS,Inflation - US Consumer Prices,annual,percent,2025-03-10
124,1963-01-01,1.23966942148753,BCS,Inflation - US Consumer Prices,annual,percent,2025-03-10
125,1962-01-01,1.19877334820186,BCS,Inflation - US Consumer Prices,annual,percent,2025-03-10
126,1961-01-01,1.07072414764724,BCS,Inflation - US Consumer Prices,annual,percent,2025-03-10
127,1960-01-01,1.45797598627791,BCS,Inflation - US Consumer Prices,annual,percent,2025-03-10

## Preparando STAGING

### Cargando Staging

In [243]:
truncar_tablas()
cargar_staging()

## Preparando Carga DWH

### Limpiando data staging

In [527]:
def obtener_staging(tabla):
    engine = create_engine(get_conexion_string())
    query = f'select * from staging.{tabla}'
    dataframe = pd.read_sql(query,engine)
    return dataframe

In [529]:
balance_stg_df = pd.DataFrame()
inflation_stg_df = pd.DataFrame()
retail_stg_df = pd.DataFrame()
income_statement_stg_df = pd.DataFrame()
overview_stg_df = pd.DataFrame()
cpi_stg_df = pd.DataFrame()
cash_flow_stg_df = pd.DataFrame()

In [628]:
balance_stg_df = obtener_staging('stg_balance')
cpi_stg_df = obtener_staging('stg_cpi')
cash_flow_stg_df = obtener_staging('stg_cash_flow')
overview_stg_df = obtener_staging('stg_overview') 
income_statement_stg_df = obtener_staging('stg_income_statement')
inflation_stg_df = obtener_staging('stg_inflation')
retail_stg_df = obtener_staging('stg_retail')

In [630]:
retail_stg_df.dtypes

id           int64
date        object
value       object
name        object
interval    object
unit        object
symbol      object
loaddate    object
dtype: object

### validar balance

In [632]:
balance_stg_df = balance_stg_df.replace('None','0')
if(balance_stg_df.dtypes['totalassets'] == 'O'):
    balance_stg_df['totalassets']  = pd.to_numeric(balance_stg_df['totalassets'], errors='coerce')
if(balance_stg_df.dtypes['totalcurrentassets'] == 'O'):
    balance_stg_df['totalcurrentassets']  = pd.to_numeric(balance_stg_df['totalcurrentassets'], errors='coerce')
if(balance_stg_df.dtypes['cashandcashequivalentsatcarryingvalue'] == 'O'):
    balance_stg_df['cashandcashequivalentsatcarryingvalue']  = pd.to_numeric(balance_stg_df['cashandcashequivalentsatcarryingvalue'], errors='coerce')
if(balance_stg_df.dtypes['cashandshortterminvestments'] == 'O'):
    balance_stg_df['cashandshortterminvestments']  = pd.to_numeric(balance_stg_df['cashandshortterminvestments'], errors='coerce')
if(balance_stg_df.dtypes['inventory'] == 'O'):
    balance_stg_df['inventory']  = pd.to_numeric(balance_stg_df['inventory'], errors='coerce')
if(balance_stg_df.dtypes['currentnetreceivables'] == 'O'):
    balance_stg_df['currentnetreceivables']  = pd.to_numeric(balance_stg_df['currentnetreceivables'], errors='coerce')
if(balance_stg_df.dtypes['totalnoncurrentassets'] == 'O'):
    balance_stg_df['totalnoncurrentassets']  = pd.to_numeric(balance_stg_df['totalnoncurrentassets'], errors='coerce')
if(balance_stg_df.dtypes['propertyplantequipment'] == 'O'):
    balance_stg_df['propertyplantequipment']  = pd.to_numeric(balance_stg_df['propertyplantequipment'], errors='coerce')
if(balance_stg_df.dtypes['accumulateddepreciationamortizationppe'] == 'O'):
    balance_stg_df['accumulateddepreciationamortizationppe']  = pd.to_numeric(balance_stg_df['accumulateddepreciationamortizationppe'], errors='coerce')
if(balance_stg_df.dtypes['intangibleassets'] == 'O'):
    balance_stg_df['intangibleassets']  = pd.to_numeric(balance_stg_df['intangibleassets'], errors='coerce')
if(balance_stg_df.dtypes['intangibleassetsexcludinggoodwill'] == 'O'):
    balance_stg_df['intangibleassetsexcludinggoodwill']  = pd.to_numeric(balance_stg_df['intangibleassetsexcludinggoodwill'], errors='coerce')
if(balance_stg_df.dtypes['goodwill'] == 'O'):
    balance_stg_df['goodwill']  = pd.to_numeric(balance_stg_df['goodwill'], errors='coerce')
if(balance_stg_df.dtypes['investments'] == 'O'):
    balance_stg_df['investments']  = pd.to_numeric(balance_stg_df['investments'], errors='coerce')
if(balance_stg_df.dtypes['longterminvestments'] == 'O'):
    balance_stg_df['longterminvestments']  = pd.to_numeric(balance_stg_df['longterminvestments'], errors='coerce')
if(balance_stg_df.dtypes['shortterminvestments'] == 'O'):
    balance_stg_df['shortterminvestments']  = pd.to_numeric(balance_stg_df['shortterminvestments'], errors='coerce')
if(balance_stg_df.dtypes['othercurrentassets'] == 'O'):
    balance_stg_df['othercurrentassets']  = pd.to_numeric(balance_stg_df['othercurrentassets'], errors='coerce')
if(balance_stg_df.dtypes['othernoncurrentassets'] == 'O'):
    balance_stg_df['othernoncurrentassets']  = pd.to_numeric(balance_stg_df['othernoncurrentassets'], errors='coerce')
if(balance_stg_df.dtypes['totalliabilities'] == 'O'):
    balance_stg_df['totalliabilities']  = pd.to_numeric(balance_stg_df['totalliabilities'], errors='coerce')
if(balance_stg_df.dtypes['totalcurrentliabilities'] == 'O'):
    balance_stg_df['totalcurrentliabilities']  = pd.to_numeric(balance_stg_df['totalcurrentliabilities'], errors='coerce')
if(balance_stg_df.dtypes['currentaccountspayable'] == 'O'):
    balance_stg_df['currentaccountspayable']  = pd.to_numeric(balance_stg_df['currentaccountspayable'], errors='coerce')
if(balance_stg_df.dtypes['deferredrevenue'] == 'O'):
    balance_stg_df['deferredrevenue']  = pd.to_numeric(balance_stg_df['deferredrevenue'], errors='coerce')
if(balance_stg_df.dtypes['currentdebt'] == 'O'):
    balance_stg_df['currentdebt']  = pd.to_numeric(balance_stg_df['currentdebt'], errors='coerce')
if(balance_stg_df.dtypes['shorttermdebt'] == 'O'):
    balance_stg_df['shorttermdebt']  = pd.to_numeric(balance_stg_df['shorttermdebt'], errors='coerce')
if(balance_stg_df.dtypes['totalnoncurrentliabilities'] == 'O'):
    balance_stg_df['totalnoncurrentliabilities']  = pd.to_numeric(balance_stg_df['totalnoncurrentliabilities'], errors='coerce')
if(balance_stg_df.dtypes['capitalleaseobligations'] == 'O'):
    balance_stg_df['capitalleaseobligations']  = pd.to_numeric(balance_stg_df['capitalleaseobligations'], errors='coerce')
if(balance_stg_df.dtypes['longtermdebt'] == 'O'):
    balance_stg_df['longtermdebt']  = pd.to_numeric(balance_stg_df['longtermdebt'], errors='coerce')
if(balance_stg_df.dtypes['currentlongtermdebt'] == 'O'):
    balance_stg_df['currentlongtermdebt']  = pd.to_numeric(balance_stg_df['currentlongtermdebt'], errors='coerce')
if(balance_stg_df.dtypes['longtermdebtnoncurrent'] == 'O'):
    balance_stg_df['longtermdebtnoncurrent']  = pd.to_numeric(balance_stg_df['longtermdebtnoncurrent'], errors='coerce')
if(balance_stg_df.dtypes['shortlongtermdebttotal'] == 'O'):
    balance_stg_df['shortlongtermdebttotal']  = pd.to_numeric(balance_stg_df['shortlongtermdebttotal'], errors='coerce')
if(balance_stg_df.dtypes['othercurrentliabilities'] == 'O'):
    balance_stg_df['othercurrentliabilities']  = pd.to_numeric(balance_stg_df['othercurrentliabilities'], errors='coerce')
if(balance_stg_df.dtypes['othernoncurrentliabilities'] == 'O'):
    balance_stg_df['othernoncurrentliabilities']  = pd.to_numeric(balance_stg_df['othernoncurrentliabilities'], errors='coerce')
if(balance_stg_df.dtypes['totalshareholderequity'] == 'O'):
    balance_stg_df['totalshareholderequity']  = pd.to_numeric(balance_stg_df['totalshareholderequity'], errors='coerce')
if(balance_stg_df.dtypes['treasurystock'] == 'O'):
    balance_stg_df['treasurystock']  = pd.to_numeric(balance_stg_df['treasurystock'], errors='coerce')
if(balance_stg_df.dtypes['retainedearnings'] == 'O'):
    balance_stg_df['retainedearnings']  = pd.to_numeric(balance_stg_df['retainedearnings'], errors='coerce')
if(balance_stg_df.dtypes['commonstock'] == 'O'):
    balance_stg_df['commonstock']  = pd.to_numeric(balance_stg_df['commonstock'], errors='coerce')
if(balance_stg_df.dtypes['commonstocksharesoutstanding'] == 'O'):
    balance_stg_df['commonstocksharesoutstanding']  = pd.to_numeric(balance_stg_df['commonstocksharesoutstanding'], errors='coerce')

### validar cpi

In [635]:
cpi_stg_df = cpi_stg_df.replace('None','0')
if(cpi_stg_df.dtypes['value'] == 'O'):
    cpi_stg_df['value']  = pd.to_numeric(cpi_stg_df['value'], errors='coerce')

### validar cash flow

In [638]:
cash_flow_stg_df = cash_flow_stg_df.replace('None','0')
if(cash_flow_stg_df.dtypes['operatingcashflow'] == 'O'):
    cash_flow_stg_df['operatingcashflow'] = pd.to_numeric(cash_flow_stg_df['operatingcashflow'], errors='coerce')
if(cash_flow_stg_df.dtypes['paymentsforoperatingactivities'] == 'O'):
    cash_flow_stg_df['totalassets'] = pd.to_numeric(cash_flow_stg_df['paymentsforoperatingactivities'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromoperatingactivities'] == 'O'):
    cash_flow_stg_df['proceedsfromoperatingactivities'] = pd.to_numeric(cash_flow_stg_df['proceedsfromoperatingactivities'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeinoperatingliabilities'] == 'O'):
    cash_flow_stg_df['changeinoperatingliabilities'] = pd.to_numeric(cash_flow_stg_df['changeinoperatingliabilities'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeinoperatingassets'] == 'O'):
    cash_flow_stg_df['changeinoperatingassets'] = pd.to_numeric(cash_flow_stg_df['changeinoperatingassets'], errors='coerce')
if(cash_flow_stg_df.dtypes['depreciationdepletionandamortization'] == 'O'):
    cash_flow_stg_df['depreciationdepletionandamortization'] = pd.to_numeric(cash_flow_stg_df['depreciationdepletionandamortization'], errors='coerce')
if(cash_flow_stg_df.dtypes['capitalexpenditures'] == 'O'):
    cash_flow_stg_df['capitalexpenditures'] = pd.to_numeric(cash_flow_stg_df['capitalexpenditures'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeinreceivables'] == 'O'):
    cash_flow_stg_df['changeinreceivables'] = pd.to_numeric(cash_flow_stg_df['changeinreceivables'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeininventory'] == 'O'):
    cash_flow_stg_df['changeininventory'] = pd.to_numeric(cash_flow_stg_df['changeininventory'], errors='coerce')
if(cash_flow_stg_df.dtypes['profitloss'] == 'O'):
    cash_flow_stg_df['profitloss'] = pd.to_numeric(cash_flow_stg_df['profitloss'], errors='coerce')
if(cash_flow_stg_df.dtypes['cashflowfrominvestment'] == 'O'):
    cash_flow_stg_df['cashflowfrominvestment'] = pd.to_numeric(cash_flow_stg_df['cashflowfrominvestment'], errors='coerce')
if(cash_flow_stg_df.dtypes['cashflowfromfinancing'] == 'O'):
    cash_flow_stg_df['cashflowfromfinancing'] = pd.to_numeric(cash_flow_stg_df['cashflowfromfinancing'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromrepaymentsofshorttermdebt'] == 'O'):
    cash_flow_stg_df['proceedsfromrepaymentsofshorttermdebt'] = pd.to_numeric(cash_flow_stg_df['proceedsfromrepaymentsofshorttermdebt'], errors='coerce')
if(cash_flow_stg_df.dtypes['paymentsforrepurchaseofcommonstock'] == 'O'):
    cash_flow_stg_df['paymentsforrepurchaseofcommonstock'] = pd.to_numeric(cash_flow_stg_df['paymentsforrepurchaseofcommonstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['paymentsforrepurchaseofequity'] == 'O'):
    cash_flow_stg_df['paymentsforrepurchaseofequity'] = pd.to_numeric(cash_flow_stg_df['paymentsforrepurchaseofequity'], errors='coerce')
if(cash_flow_stg_df.dtypes['paymentsforrepurchaseofpreferredstock'] == 'O'):
    cash_flow_stg_df['paymentsforrepurchaseofpreferredstock'] = pd.to_numeric(cash_flow_stg_df['paymentsforrepurchaseofpreferredstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['dividendpayout'] == 'O'):
    cash_flow_stg_df['dividendpayout'] = pd.to_numeric(cash_flow_stg_df['dividendpayout'], errors='coerce')
if(cash_flow_stg_df.dtypes['dividendpayoutcommonstock'] == 'O'):
    cash_flow_stg_df['dividendpayoutcommonstock'] = pd.to_numeric(cash_flow_stg_df['dividendpayoutcommonstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['dividendpayoutpreferredstock'] == 'O'):
    cash_flow_stg_df['dividendpayoutpreferredstock'] = pd.to_numeric(cash_flow_stg_df['dividendpayoutpreferredstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromissuanceofcommonstock'] == 'O'):
    cash_flow_stg_df['proceedsfromissuanceofcommonstock'] = pd.to_numeric(cash_flow_stg_df['proceedsfromissuanceofcommonstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromissuanceoflongtermdebtandcapitalsecuritiesnet'] == 'O'):
    cash_flow_stg_df['proceedsfromissuanceoflongtermdebtandcapitalsecuritiesnet'] = pd.to_numeric(cash_flow_stg_df['proceedsfromissuanceoflongtermdebtandcapitalsecuritiesnet'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromissuanceofpreferredstock'] == 'O'):
    cash_flow_stg_df['proceedsfromissuanceofpreferredstock'] = pd.to_numeric(cash_flow_stg_df['proceedsfromissuanceofpreferredstock'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromrepurchaseofequity'] == 'O'):
    cash_flow_stg_df['proceedsfromrepurchaseofequity'] = pd.to_numeric(cash_flow_stg_df['proceedsfromrepurchaseofequity'], errors='coerce')
if(cash_flow_stg_df.dtypes['proceedsfromsaleoftreasurystock'] == 'O'):
    cash_flow_stg_df['proceedsfromsaleoftreasurystock'] = pd.to_numeric(cash_flow_stg_df['proceedsfromsaleoftreasurystock'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeincashandcashequivalents'] == 'O'):
    cash_flow_stg_df['changeincashandcashequivalents'] = pd.to_numeric(cash_flow_stg_df['changeincashandcashequivalents'], errors='coerce')
if(cash_flow_stg_df.dtypes['changeinexchangerate'] == 'O'):
    cash_flow_stg_df['changeinexchangerate'] = pd.to_numeric(cash_flow_stg_df['changeinexchangerate'], errors='coerce')
if(cash_flow_stg_df.dtypes['netincome'] == 'O'):
    cash_flow_stg_df['netincome'] = pd.to_numeric(cash_flow_stg_df['netincome'], errors='coerce')

### validar overview

In [641]:
overview_stg_df = overview_stg_df.replace('None','0')
if(overview_stg_df.dtypes['grossprofit'] == 'O'):
    overview_stg_df['grossprofit']  = pd.to_numeric(overview_stg_df['grossprofit'], errors='coerce')
if(overview_stg_df.dtypes['totalrevenue'] == 'O'):
    overview_stg_df['totalrevenue']  = pd.to_numeric(overview_stg_df['totalrevenue'], errors='coerce')
if(overview_stg_df.dtypes['costofrevenue'] == 'O'):
    overview_stg_df['costofrevenue']  = pd.to_numeric(overview_stg_df['costofrevenue'], errors='coerce')
if(overview_stg_df.dtypes['costofgoodsandservicessold'] == 'O'):
    overview_stg_df['costofgoodsandservicessold']  = pd.to_numeric(overview_stg_df['costofgoodsandservicessold'], errors='coerce')
if(overview_stg_df.dtypes['operatingincome'] == 'O'):
    overview_stg_df['operatingincome']  = pd.to_numeric(overview_stg_df['operatingincome'], errors='coerce')
if(overview_stg_df.dtypes['sellinggeneralandadministrative'] == 'O'):
    overview_stg_df['sellinggeneralandadministrative']  = pd.to_numeric(overview_stg_df['sellinggeneralandadministrative'], errors='coerce')
if(overview_stg_df.dtypes['researchanddevelopment'] == 'O'):
    overview_stg_df['researchanddevelopment']  = pd.to_numeric(overview_stg_df['researchanddevelopment'], errors='coerce')
if(overview_stg_df.dtypes['operatingexpenses'] == 'O'):
    overview_stg_df['operatingexpenses']  = pd.to_numeric(overview_stg_df['operatingexpenses'], errors='coerce')
if(overview_stg_df.dtypes['investmentincomenet'] == 'O'):
    overview_stg_df['investmentincomenet']  = pd.to_numeric(overview_stg_df['investmentincomenet'], errors='coerce')
if(overview_stg_df.dtypes['netinterestincome'] == 'O'):
    overview_stg_df['netinterestincome']  = pd.to_numeric(overview_stg_df['netinterestincome'], errors='coerce')
if(overview_stg_df.dtypes['interestincome'] == 'O'):
    overview_stg_df['interestincome']  = pd.to_numeric(overview_stg_df['interestincome'], errors='coerce')
if(overview_stg_df.dtypes['interestexpense'] == 'O'):
    overview_stg_df['interestexpense']  = pd.to_numeric(overview_stg_df['interestexpense'], errors='coerce')
if(overview_stg_df.dtypes['noninterestincome'] == 'O'):
    overview_stg_df['noninterestincome']  = pd.to_numeric(overview_stg_df['noninterestincome'], errors='coerce')
if(overview_stg_df.dtypes['othernonoperatingincome'] == 'O'):
    overview_stg_df['othernonoperatingincome']  = pd.to_numeric(overview_stg_df['othernonoperatingincome'], errors='coerce')
if(overview_stg_df.dtypes['depreciation'] == 'O'):
    overview_stg_df['depreciation']  = pd.to_numeric(overview_stg_df['depreciation'], errors='coerce')
if(overview_stg_df.dtypes['depreciationandamortization'] == 'O'):
    overview_stg_df['depreciationandamortization']  = pd.to_numeric(overview_stg_df['depreciationandamortization'], errors='coerce')
if(overview_stg_df.dtypes['incomebeforetax'] == 'O'):
    overview_stg_df['incomebeforetax']  = pd.to_numeric(overview_stg_df['incomebeforetax'], errors='coerce')
if(overview_stg_df.dtypes['incometaxexpense'] == 'O'):
    overview_stg_df['incometaxexpense']  = pd.to_numeric(overview_stg_df['incometaxexpense'], errors='coerce')
if(overview_stg_df.dtypes['interestanddebtexpense'] == 'O'):
    overview_stg_df['interestanddebtexpense']  = pd.to_numeric(overview_stg_df['interestanddebtexpense'], errors='coerce')
if(overview_stg_df.dtypes['netincomefromcontinuingoperations'] == 'O'):
    overview_stg_df['netincomefromcontinuingoperations']  = pd.to_numeric(overview_stg_df['netincomefromcontinuingoperations'], errors='coerce')
if(overview_stg_df.dtypes['comprehensiveincomenetoftax'] == 'O'):
    overview_stg_df['comprehensiveincomenetoftax']  = pd.to_numeric(overview_stg_df['comprehensiveincomenetoftax'], errors='coerce')
if(overview_stg_df.dtypes['ebit'] == 'O'):
    overview_stg_df['ebit']  = pd.to_numeric(overview_stg_df['ebit'], errors='coerce')
if(overview_stg_df.dtypes['ebitda'] == 'O'):
    overview_stg_df['ebitda']  = pd.to_numeric(overview_stg_df['ebitda'], errors='coerce')
if(overview_stg_df.dtypes['netincome'] == 'O'):
    overview_stg_df['netincome']  = pd.to_numeric(overview_stg_df['netincome'], errors='coerce')

### validar income statement

In [644]:
if(income_statement_stg_df.dtypes['grossprofit'] == 'O'):
    income_statement_stg_df['grossprofit']   = pd.to_numeric(income_statement_stg_df['grossprofit'], errors='coerce')
if(income_statement_stg_df.dtypes['totalrevenue'] == 'O'):
    income_statement_stg_df['totalrevenue']   = pd.to_numeric(income_statement_stg_df['totalrevenue'], errors='coerce')
if(income_statement_stg_df.dtypes['costofrevenue'] == 'O'):
    income_statement_stg_df['costofrevenue']   = pd.to_numeric(income_statement_stg_df['costofrevenue'], errors='coerce')
if(income_statement_stg_df.dtypes['costofgoodsandservicessold'] == 'O'):
    income_statement_stg_df['costofgoodsandservicessold']   = pd.to_numeric(income_statement_stg_df['costofgoodsandservicessold'], errors='coerce')
if(income_statement_stg_df.dtypes['operatingincome'] == 'O'):
    income_statement_stg_df['operatingincome']   = pd.to_numeric(income_statement_stg_df['operatingincome'], errors='coerce')
if(income_statement_stg_df.dtypes['sellinggeneralandadministrative'] == 'O'):
    income_statement_stg_df['sellinggeneralandadministrative']   = pd.to_numeric(income_statement_stg_df['sellinggeneralandadministrative'], errors='coerce')
if(income_statement_stg_df.dtypes['researchanddevelopment'] == 'O'):
    income_statement_stg_df['researchanddevelopment']   = pd.to_numeric(income_statement_stg_df['researchanddevelopment'], errors='coerce')
if(income_statement_stg_df.dtypes['operatingexpenses'] == 'O'):
    income_statement_stg_df['operatingexpenses']   = pd.to_numeric(income_statement_stg_df['operatingexpenses'], errors='coerce')
if(income_statement_stg_df.dtypes['investmentincomenet'] == 'O'):
    income_statement_stg_df['investmentincomenet']   = pd.to_numeric(income_statement_stg_df['investmentincomenet'], errors='coerce')
if(income_statement_stg_df.dtypes['netinterestincome'] == 'O'):
    income_statement_stg_df['netinterestincome']   = pd.to_numeric(income_statement_stg_df['netinterestincome'], errors='coerce')
if(income_statement_stg_df.dtypes['interestincome'] == 'O'):
    income_statement_stg_df['interestincome']   = pd.to_numeric(income_statement_stg_df['interestincome'], errors='coerce')
if(income_statement_stg_df.dtypes['interestexpense'] == 'O'):
    income_statement_stg_df['interestexpense']   = pd.to_numeric(income_statement_stg_df['interestexpense'], errors='coerce')
if(income_statement_stg_df.dtypes['noninterestincome'] == 'O'):
    income_statement_stg_df['noninterestincome']   = pd.to_numeric(income_statement_stg_df['noninterestincome'], errors='coerce')
if(income_statement_stg_df.dtypes['othernonoperatingincome'] == 'O'):
    income_statement_stg_df['othernonoperatingincome']   = pd.to_numeric(income_statement_stg_df['othernonoperatingincome'], errors='coerce')
if(income_statement_stg_df.dtypes['depreciation'] == 'O'):
    income_statement_stg_df['depreciation']   = pd.to_numeric(income_statement_stg_df['depreciation'], errors='coerce')
if(income_statement_stg_df.dtypes['depreciationandamortization'] == 'O'):
    income_statement_stg_df['depreciationandamortization']   = pd.to_numeric(income_statement_stg_df['depreciationandamortization'], errors='coerce')
if(income_statement_stg_df.dtypes['incomebeforetax'] == 'O'):
    income_statement_stg_df['incomebeforetax']   = pd.to_numeric(income_statement_stg_df['incomebeforetax'], errors='coerce')
if(income_statement_stg_df.dtypes['incometaxexpense'] == 'O'):
    income_statement_stg_df['incometaxexpense']   = pd.to_numeric(income_statement_stg_df['incometaxexpense'], errors='coerce')
if(income_statement_stg_df.dtypes['interestanddebtexpense'] == 'O'):
    income_statement_stg_df['interestanddebtexpense']   = pd.to_numeric(income_statement_stg_df['interestanddebtexpense'], errors='coerce')
if(income_statement_stg_df.dtypes['netincomefromcontinuingoperations'] == 'O'):
    income_statement_stg_df['netincomefromcontinuingoperations']   = pd.to_numeric(income_statement_stg_df['netincomefromcontinuingoperations'], errors='coerce')
if(income_statement_stg_df.dtypes['comprehensiveincomenetoftax'] == 'O'):
    income_statement_stg_df['comprehensiveincomenetoftax']   = pd.to_numeric(income_statement_stg_df['comprehensiveincomenetoftax'], errors='coerce')
if(income_statement_stg_df.dtypes['ebit'] == 'O'):
    income_statement_stg_df['ebit']   = pd.to_numeric(income_statement_stg_df['ebit'], errors='coerce')
if(income_statement_stg_df.dtypes['ebitda'] == 'O'):
    income_statement_stg_df['ebitda']   = pd.to_numeric(income_statement_stg_df['ebitda'], errors='coerce')
if(income_statement_stg_df.dtypes['netincome'] == 'O'):
    income_statement_stg_df['netincome']   = pd.to_numeric(income_statement_stg_df['netincome'], errors='coerce')

### validar retail

In [647]:
retail_stg_df = retail_stg_df.replace('None','0')
if(retail_stg_df.dtypes['value'] == 'O'):
    retail_stg_df['value']  = pd.to_numeric(retail_stg_df['value'], errors='coerce')

### validar inflation

In [650]:
inflation_stg_df = inflation_stg_df.replace('None','0')
if(inflation_stg_df.dtypes['value'] == 'O'):
    inflation_stg_df['value']  = pd.to_numeric(inflation_stg_df['value'], errors='coerce')

In [668]:
retail_stg_df

,id,date,value,name,interval,unit,symbol,loaddate
0,1,2025-01-01,577230.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
1,2,2024-12-01,702255.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
2,3,2024-11-01,641949.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
3,4,2024-10-01,633013.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
4,5,2024-09-01,589777.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,JPM,2025-03-10
...,...,...,...,...,...,...,...,...
789,790,1992-05-01,152420.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,BCS,2025-03-10
790,791,1992-04-01,147175.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,BCS,2025-03-10
791,792,1992-03-01,142488.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,BCS,2025-03-10
792,793,1992-02-01,131244.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,BCS,2025-03-10
793,794,1992-01-01,130683.0,Advance Retail Sales: Retail Trade,monthly,millions of dollars,BCS,2025-03-10

### Cargando DWH

In [714]:
dwh_dataframes = [
    (inflation_stg_df, 'dwh','inflation'),
    (cpi_stg_df,'dwh', 'cpi'),
    (cash_flow_stg_df,'dwh', 'cash_flow'),
    (overview_stg_df,'dwh', 'overview'),
    (income_statement_stg_df,'dwh', 'income_statement'),
    (balance_stg_df,'dwh', 'balance'),
    (retail_stg_df,'dwh', 'retail')    
]

def truncar_tablas_dwh():
    try:
        conexion = get_conexion()
        cursor = conexion.cursor()
        
        truncate_script = ""
        for df, schema, tabla in dwh_dataframes:
            truncate_script += f'truncate table {schema}.{tabla} restart identity cascade;'

        cursor.execute(truncate_script)
        conexion.commit()
    except psycopg2.Error as e:
        add_error_logs(f"Error en la operaci√≥n de truncado: {e}")
        if conexion:
            conexion.rollback()
    finally:
        if cursor:
            cursor.close()
        if conexion:
            conexion.close()

def cargar_dwh():
    columnas = ['descripcion', 'etapa', 'fecha', 'entidad', 'estatus']
    log_results_df = pd.DataFrame(columns=columnas)
    
    try:
        conexion = get_conexion()
        cursor = conexion.cursor()

        for df, schema, tabla in dwh_dataframes:
            for i, row in df.iterrows():
                columns = ', '.join(df.columns)
                values = ', '.join([f"'{str(value)}'" if value is not None else "NULL" for value in row])
                query = f"INSERT INTO {schema}.{tabla} ({columns}) VALUES ({values})"
                cursor.execute(query)
            print(f'{schema}.{tabla}')
            conexion.commit()
            cargar_logs(cursor, conexion, schema, tabla)                               

        cursor.close()
        conexion.close()
        
    except Exception as e:
        add_error_logs(f"Error al cargar los DataFrames: {e}")        
        if conexion:
            conexion.rollback()
        if cursor:
            cursor.close()
        if conexion:
            conexion.close()

In [716]:
error_logs =[]
truncar_tablas_dwh()

In [720]:
cargar_dwh()

dwh.inflation
dwh.cpi
dwh.cash_flow
dwh.overview
dwh.income_statement
dwh.balance
dwh.retail

In [722]:
error_logs

[]

In [712]:
balance_stg_df.dtypes

id                                          int64
fiscaldateending                           object
reportedcurrency                           object
totalassets                                 int64
totalcurrentassets                          int64
cashandcashequivalentsatcarryingvalue       int64
cashandshortterminvestments                 int64
inventory                                   int64
currentnetreceivables                       int64
totalnoncurrentassets                       int64
propertyplantequipment                      int64
accumulateddepreciationamortizationppe      int64
intangibleassets                            int64
intangibleassetsexcludinggoodwill           int64
goodwill                                    int64
investments                                 int64
longterminvestments                       float64
shortterminvestments                      float64
othercurrentassets                          int64
othernoncurrentassets                       int64
totalliabilities                            int64
totalcurrentliabilities                   float64
currentaccountspayable                      int64
deferredrevenue                             int64
currentdebt                                 int64
shorttermdebt                               int64
totalnoncurrentliabilities                  int64
capitalleaseobligations                     int64
longtermdebt                                int64
currentlongtermdebt                       float64
longtermdebtnoncurrent                      int64
shortlongtermdebttotal                      int64
othercurrentliabilities                   float64
othernoncurrentliabilities                  int64
totalshareholderequity                      int64
treasurystock                               int64
retainedearnings                            int64
commonstock                                 int64
commonstocksharesoutstanding                int64
symbol                                     object
loaddate                                   object
dtype: object